<Section>
    <div class="Searchbar">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
</Section>


<style>
    .Searchbar {
        background-color: rgb(200, 185, 167);
        height: 10rem;
        width: 100%;
    }
</style>