<footer>
    <div class="mainDiv row col-xs-12">
        <div class="info col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <h3 class="MainHeaderFooter">StayOnn</h3>
            <h4 class="MainHeaderFooter">9874563210</h4>
            <p>Ernser Vista Suitr 457,NY</p>
            <p>info@StayOnn.com</p>
            <div class="iconsSpace">
                <img class="SocialMediaIcons" src="/images/facebook.png" alt="">
                <img class="SocialMediaIcons" src="/images/instagram.png" alt="">
                <img class="SocialMediaIcons" src="/images/linkedin.png" alt="">
                <img class="SocialMediaIcons" src="/images/twitter.png" alt="">
                <img class="SocialMediaIcons" src="/images/youtube.png" alt="">
            </div>
        </div>
        <div class=" quickLinks col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <h4 class="MainHeaderFooter">Quick Links</h4>
            <p>Home</p>
            <p>profile</p>
            <p>Abouts Us</p>
            <a href="/vendor">Be Our Partner</a>
        </div>
        <div class="col-xs-6">

        </div>
    </div>
</footer>

<style>
    .footer {
        position: absolute;
        bottom: 0;
    }
    .mainDiv {
        background-image:
            linear-gradient(to left, rgba(77, 77, 77, 0.52), rgba(10, 10, 10, 0.83)),
            url(../images/bkg2.jpg);
        backdrop-filter: blur(1.5);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem;
        justify-content: start;
    }

    .info {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 4rem;
        color: white;
        align-items: left;
    }

    .info h3 {
        font-weight: 800;
        font-size: 40px;
    }

    .info h4 {
        font-weight: 600;
    }

    .info p {
        color: rgb(174, 172, 172);
    }

    .quickLinks {
        padding: 5rem;
        color: white;
    }

    .quickLinks p {
        color: rgb(174, 172, 172);
    }
    .quickLinks a {
        color: rgb(174, 172, 172);
    }
    .quickLinks a:hover {
        text-decoration: none;
        color: rgb(197, 195, 195);
    }

    .iconsSpace {}

    .SocialMediaIcons {
        height: 2rem;
        margin: 0.2rem;
    }
    .MainHeaderFooter {
        color: whitesmoke;
    } 
</style>