<!DOCTYPE html>
<html>

<head>
    <script>

        function removeOptions() {
            var select = document.getElementById("select");
            var options = select.getElementsByClassName("CanDefaultSelect");
            while (options.length > 0) {
                select.removeChild(options[0]);
            }
        }


        function handleRoomCountChange() {
            var roomCountSelect = document.getElementById("RoomCountSelect");
            var selectedRoomCount = roomCountSelect.options[roomCountSelect.selectedIndex].value;

            //removeOptions()
            // var select = document.getElementById("select");
            // var options = select.getElementsByClassName("CanDefaultSelect");
            // while (options.length > 0) {
            //     select.removeChild(options[0]);
            // }

            alert(selectedRoomCount)
            var PermitedGuestCount = parseInt(selectedRoomCount) * 3;

            var guestSelect = document.getElementById("guest");
            guestSelect.innerHTML = "";

            for (var i = 1; i <= PermitedGuestCount; i++) {
                var option = document.createElement("option");
                option.value = i;
                option.text = i;
                guestSelect.appendChild(option);
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            var roomCountSelect = document.getElementById("RoomCountSelect");
            roomCountSelect.addEventListener("change", handleRoomCountChange);
        });
    </script>
</head>

<body>
    <select name="rooms" id="RoomCountSelect" class="selectpicker InputField">
        <option value="1" class="InputField options">1</option>
        <option value="2" class="InputField options">2</option>
        <option value="3" class="InputField options">3</option>
        <option value="4" class="InputField options">4</option>
        <option value="5" class="InputField options">5</option>
        <option value="6" class="InputField options">6</option>
    </select>
    <br><br>
    <select id="guest">
        <option value="1" class="InputField options CanDefaultSelect">1</option>
        <option value="2" class="InputField options CanDefaultSelect">2</option>
        <option value="3" class="InputField options CanDefaultSelect">3</option>
    </select>
</body>

</html>