 <main>
        <h1>About Us</h1>
        <p>Welcome to our hotel booking system, where you can easily find and book hotel rooms online. Our system allows
            vendors to upload their available rooms, and users to search and book them conveniently. We strive to
            provide a user-friendly experience and a wide selection of options for your next trip.</p>
        <p>If you have any questions or feedback, please feel free to contact us.</p>
        <h2>Contact Us</h2>
        <ul>
            <li>Email: info@StayOnn.com</li>
            <li>Phone: +1 (123) 456-7890</li>
            <li>Address: 123 Main St, Anytown USA</li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2023 StayOnn Hotel Booking System. All rights reserved.</p>
    </footer>

     <style>
        /* General styles */
        body {

            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 2.5em;
            margin-top: 3em ;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 1.8em;
            margin: 1em 0;
        }

        p {
            font-size: 1.2em;
            line-height: 1.5em;
            margin: 1em 0;
        }

        ul {
            list-style: none;
            margin: 1em 0;
            padding: 0;
        }

        li {
            margin-bottom: 0.5em;
        }

       

        /* Main content */
        main {
            max-width: 800px;
            margin: 2em auto;
            padding: 0 1em;
        }

        /* Footer */
        footer {
            background-color: #ccc;
            padding: 1em;
            text-align: center;
        }
    </style>