<section>
    <div class="parentDiv col-sm-8">
        <div class="innerDiv col-xs-12 col-sm-12 col-md-6">
            <img class="LoginImg" src="/images/refresh.png" alt="">
            <h3>Account Recovery</h3>
            <form action="/forgottenPassword" method="post" enctype="multipart/form-data"><br>
                {{#if state}}
                <p class="errMSG">{{state}}</p>
                {{/if}}
                <input type="email" name="email" placeholder="Email" required><br>
                <button type="submit" class="btn btn-primary">Send OTP</button>
                <hr class="hr">
                <a href="/OTPlogin">Login With OTP</a>
                <div class="singupSec">
                    <p>Need an account? <a href="/signup">SIGNUP</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

<style>
    section {
        background-color: rgb(233, 233, 233);
        height: fit-content;
        padding-bottom: 8rem;
        padding-top: 2rem;
    }

    .parentDiv {
        height: 500px;
        margin: 0 auto;
        margin-top: 80px;

    }

    .innerDiv {
        margin: 0 auto;
        height: 500px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        padding-top: 2rem;
        border: 1px solid #BFBFBF;
        border-radius: 2rem;
        box-shadow: 10px 10px 5px #aaaaaa;

    }

    .LoginImg {
        height: 7rem;
        margin-bottom: 2rem;
    }

    input[type=email],
    input[type=password] {
        margin: 1rem 0;
        padding: .5rem 1rem;
        border-radius: 1rem;
        border-color: rgb(144, 143, 142);
    }

    .btn {
        width: 100px;
        border-radius: 1rem;
    }

    .hr {
        background-color: gray;
        height: 1px;
        width: 75%;
    }

    .innerDiv a {
        color: gray;
        font-family: sans-serif;
    }
    .errMSG {
        color: red;
    }

</style>