<section>
    <div class="">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="Carouselslide slide1 d-block w-100">
                        <div class="darkFade">
                            <div class="captionDiv">
                                <h5 class="captionH5">
                                    Book your dream vacation with our wide selection of hotel rooms
                                </h5>
                                <a href="#BookRoom" class="fieldButton BookNowButton">Book Now</a>
                            </div>
                        </div>
                    </div>
                    {{!-- <img class="d-block w-100" src="/assets/images/slide1.jpg" alt="First slide"> --}}
                </div>
                <div class="carousel-item">
                    <div class="Carouselslide slide2 d-block w-100">
                        <div class="darkFade">
                            <div class="captionDiv">
                                <h5 class="captionH5">
                                    Sink into pure comfort with our plush beds
                                </h5>
                                <a href="#BookRoom" class="fieldButton BookNowButton">Book Now</a>
                            </div>
                        </div>
                    </div>
                    {{!-- <img class="d-block w-100" src="/assets/images/slide2.jpg" alt="Second slide"> --}}
                </div>
                <div class="carousel-item">
                    <div class="Carouselslide slide3 d-block w-100">
                        <div class="darkFade">
                            <div class="captionDiv">
                                <h5 class="captionH5">
                                    Dive into tranquility in our indoor swimming pool sanctuary
                                </h5>
                                <a href="#BookRoom" class="fieldButton BookNowButton">Book Now</a>
                            </div>
                        </div>
                    </div>
                    {{!-- <img class="d-block w-100" src="/assets/images/slide3.jpg" alt="Third slide"> --}}
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section class="w3l-availability-form" id="booking">
    <!-- /w3l-availability-form-section -->
    <div class="w3l-availability-form-main py-5">
        <div class="container pt-lg-3 pb-lg-5">
            <div class="forms-top">
                <div class="form-right">
                    <div class="form-inner-cont">
                        <h3 class="title-small" id="BookRoom">Check Room Availability</h3>
                        <form action="/checkAvailability" method="post" class="AvailablityCheckForm">
                            <div class="row book-form">
                                <div class="form-input col-md-4 col-sm-6 mt-3">
                                    <label>Location</label>
                                    <select name="destination" id="" class="InputField">
                                        <option class="InputField" value="" disabled>Select Location</option>
                                        {{#each locations}}
                                        <option class="InputField" value="{{Place}}">{{Place}}</option>
                                        {{/each}}
                                    </select>

                                </div>
                                <div class="form-input col-md-4 col-sm-6 mt-3">
                                    <label>Check-in Date</label>
                                    <input type="date" name="checkin" class="InputField" id="checkin" onchange="CheckInDateChange()"
                                        placeholder="Date" required="">
                                </div>
                                <div class="form-input col-md-4 col-sm-6 mt-3">
                                    <label>Check-out Date</label>
                                    <input type="date" name="checkout" class="InputField" id="checkout" placeholder="Date"
                                        required="">
                                </div>
                                <div class="form-input col-md-4 col-sm-6 mt-3">
                                    <label>Rooms </label>
                                    <select name="rooms" id="RoomCountSelect"  class="selectpicker InputField">
                                        <option value="1" class="InputField options">1</option>
                                        <option value="2" class="InputField options">2</option>
                                        <option value="3" class="InputField options">3</option>
                                        <option value="4" class="InputField options">4</option>
                                    </select>
                                </div>
                                <div class="form-input col-md-4 col-sm-6 mt-3">
                                    <label>Guests</label>
                                    <select name="guests" class="selectpicker InputField">
                                        <option value="1" class="InputField">1</option>
                                        <option value="2" class="InputField">2</option>
                                        <option value="3" class="InputField">3</option>
                                        <option value="4" class="InputField">4</option>
                                    </select>
                                </div>
                                <div class="bottom-btn col-md-4 col-sm-6 mt-3">
                                    {{!-- <label>Check availability </label> --}}
                                    <button
                                        class="submit-btn btn btn-style btn-primary w-100 px-2 InputFieldButton">Check
                                        Availability</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //w3l-availability-form-section -->
<!-- about -->
<section class="w3l-about py-5">
    <div class="container py-sm-4">
        <div class="row">
            <div class="col-lg-6 about-left mb-md-0 mb-5">
                <h3 class="title-big">Relax in our Resort</h3>
                <h5>We make the best for all our customers.</h5>
                <p class="mt-3">Relax at our resort, a paradise escape with top-notch facilities, exceptional service,
                    and breathtaking surroundings. Our staff ensures a relaxing experience, with a focus on comfort, be
                    it lounging, swimming or a spa treatment. Come unwind and recharge.</p>
                <a href="about.html" class="btn btn-style  btn-danger mt-sm-5 mt-4">Learn About Us</a>
            </div>
            <div class="col-lg-6 about-right position-relative mt-lg-0 mt-5">
                <img src="/assets/images/about2.jpg" alt="" class="img-fluid img-border mt-4" />
                <img src="/assets/images/bottom.jpg" alt="" class="img-fluid position-absolute img-position" />
            </div>
        </div>
    </div>
</section>
<!-- //about -->

<section class="w3l-index3">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 left-wthree-img text-righ">
                    <div class="position-relative">
                        <img src="/assets/images/videoBg2.jpg" alt="" class="img-fluid" />
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        {{!-- <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://player.vimeo.com/video/246941769" allow="autoplay; fullscreen"
                                allowfullscreen=""></iframe>
                        </div> --}}
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
                    <h6>Discover our Locations</h6>
                    <h3 class="title-big">20 Years of Hotels and Resort Experience</h3>
                    <p class="mt-3">Experience the epitome of comfort and luxury with 20 years of unparalleled hotels
                        and resort expertise.</p>
                    <ul class="w3l-right-book mt-4">
                        <li><span class="fa fa-check" aria-hidden="true"></span>We make the best for all our customers
                        </li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Follow our Resort Luxury Hotels</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Luxury hotels and best resorts</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Double rooms and family rooms</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Enjoy a luxury experience</li>
                    </ul>
                    <a href="#BookRoom" class="btn btn-style btn-danger  mt-4">Check Room availability</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- quotation -->
<div class="quotation py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-center py-md-5 py-3">
            <h3>Enjoy a Luxury experience. Discover our locaions. Relax and enjoy your holiday</h3>
            <a href="#BookRoom" class="btn btn-style transparent-btn mt-sm-5 mt-4 mr-2">Book Now</a>
            <a href="#ContactUs" class="btn btn-style btn-danger mt-sm-5 mt-4">Contact Us</a>
        </div>
    </div>
</div>
<!-- //quotation -->

<section class="w3l-logos py-5">
    <div class="container py-lg-3">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view">
                <img src="/assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view">
                <img src="/assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-sm-0 mt-4">
                <img src="/assets/images/logo3.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-md-0 mt-4">
                <img src="/assets/images/logo4.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-lg-0 mt-4">
                <img src="/assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-lg-0 mt-4">
                <img src="/assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
            </div>
        </div>
    </div>
</section>


<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    &#10548;
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- /move top -->
</section>

<script src="/assets/js/bootstrap.min.js"></script>

<script>
    window.onload = function () {
        // Get current date
        var today = new Date();

        var day = today.getDate().toString().padStart(2, "0");
        var month = (today.getMonth() + 1).toString().padStart(2, "0");
        var year = today.getFullYear();
        // Format date as "yyyy-mm-dd"
        var todayFormatted = year + "-" + month + "-" + day;

        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);

        var day = tomorrow.getDate().toString().padStart(2, "0");
        var month = (tomorrow.getMonth() + 1).toString().padStart(2, "0");
        var year = tomorrow.getFullYear();

        // Format date as "yyyy-mm-dd"
        // var tomorrowFormatted = day + "-" + month + "-" + year;
        var tomorrowFormatted = year + "-" + month + "-" + day;



        document.getElementById("checkin").value = todayFormatted;
        document.getElementById("checkout").value = tomorrowFormatted;

        document.getElementById("checkin").min = todayFormatted;
        document.getElementById("checkout").min = tomorrowFormatted;

        //alert(tomorrowFormatted)

    }

    function CheckInDateChange() {
        var checkindate = document.getElementById("checkin").value;

        var minCheckout = new Date(checkindate);

        minCheckout.setDate(minCheckout.getDate() + 1);

        var day = minCheckout.getDate().toString().padStart(2, "0");
        var month = (minCheckout.getMonth() + 1).toString().padStart(2, "0");
        var year = minCheckout.getFullYear();

        // Format date as "yyyy-mm-dd"
        // var tomorrowFormatted = day + "-" + month + "-" + year;
        var minCheckout = year + "-" + month + "-" + day;


        //alert(minCheckout)
        document.getElementById("checkout").value = minCheckout;
        document.getElementById("checkout").min = minCheckout;
    }

    $(document).ready(function() {
  $("#RoomCountSelect").change(function() {
    // Your code here
  });
});

</script>

<style>
    .body {
        font-family: 'Spartan', sans-serif;
    }

    .carousel-indicators .active {

        width: 50px;
        transition: 2s;
        /*transition: background-color 2s;*/
        transition-delay: 0s;
        transition-timing-function: ease-in-out;
        background-color: orange;


    }

    .carousel-indicators li {
        height: 5px;
        width: 200px;
        transition: 2s;
        transition-delay: 0s;
    }

    .active,
    .carousel-indicators li {
        border-radius: 15px;

    }

    .Carouselslide {
        width: 100%;
        /*height: 50vh;*/
        background-size: cover;
        height: 600px;
        position: relative;
        z-index: 0;
        display: grid;
        align-items: center;
    }


    .slide1 {
        background: url(/assets/images/slide2.jpg) no-repeat center;
        background-size: cover;
    }

    .slide2 {
        background: url(/assets/images/slide1.jpg) no-repeat center;
        background-size: cover;
    }

    .slide3 {
        background: url(/assets/images/slide3.jpg) no-repeat center;
        background-size: cover;
    }

    .BookNowButton:hover {
        text-decoration: none;
    }

    .darkFade {
        width: 100%;
        height: 600px;
        background-color: rgba(63, 63, 63, 0.678);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title-small {
        font-family: 'Spartan', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .form-input {
        display: block;
    }

    .book-form label {
        font-weight: 600;
        font-size: 15px;
        color: #333;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        font-family: 'Spartan', sans-serif;
    }

    .InputField {
        outline: none;
        width: 100%;
        font-size: 15px;
        line-height: 25px;
        padding: 12px 12px;
        color: var(--para-color);
        border-radius: 5px;
        border: 1px solid rgba(10, 49, 68, 0.2);
        font-family: 'Spartan', sans-serif;
    }

    .InputFieldButton {
        width: 100%;
        font-size: 15px;
        line-height: 25px;
        padding: 12px 12px;
        font-family: 'Spartan', sans-serif;
        border-radius: 5px;
        border: 1px solid rgba(10, 49, 68, 0.2);
        background-color: orange;
        color: black;
        font-weight: 600;
    }

    .InputFieldButton {
        margin-top: 2rem;
    }

    .fieldButton {
        width: 10rem;
        font-size: 15px;
        line-height: 25px;
        padding: 12px 12px;
        font-family: 'Spartan', sans-serif;
        border-radius: 5px;
        border: 1px solid rgba(10, 49, 68, 0.2);
        background-color: orange;
        color: black;
        font-weight: 600;
        align-items: center;
        text-align: center;
    }

    .InputFieldButton:hover,
    .fieldButton:hover {
        background-color: black;
        color: orange;
    }

    .options {
        margin: 1rem;
    }

    .captionDiv {
        width: 70%;
        display: grid;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        transition-property: display;
        transition-duration: 2s;
        transition-timing-function: ease-in-out;
    }

    .captionH5 {
        font-size: 40px;
        line-height: 50px;
        font-weight: 600;
        color: #fff;
        font-family: 'Spartan', sans-serif;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 2rem;
    }

    .title-big {
        font-size: 35px;
        font-weight: 600;
        line-height: 42px;
        margin-bottom: 20px;
        font-family: 'Spartan', sans-serif;
    }

    .about-left h5 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        color: #403b3b;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 15px;
        line-height: 26px;
        color: #888;
    }

    .about-left a {
        padding: 12px 30px 10px;
        color: #fff;
        font-size: 15px;
        line-height: 25px;
        text-transform: capitalize;
        font-weight: 500;
        transition: 0.3s ease-in;
        border-radius: 6px;
    }

    .img-border {
        border-right: 4px solid #fff;
        border-top: 4px solid #fff;
        width: 500px;
        height: 350px;
        border-radius: 10px;
    }

    .img-position {
        position: absolute;
        right: 0%;
        top: -10%;
        z-index: -1;
        width: 470px;
        height: 350px;
        border-radius: 10px;
    }

    .img-fluid {
        border-radius: 10px;
    }

    .w3l-index3 .about-right-faq h6 {
        margin-bottom: 20px;
        font-size: 16px;
        color: #f57b51;
    }

    .w3l-index3 .about-right-faq p {
        color: #888;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        max-width: 480px;
    }

    ul {
        list-style-type: none;
    }

    .fa-check::before {
        content: "\2713";
        color: #888;
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
    }

    .btn-style {
        padding: 12px 30px 10px;
        color: #fff;
        font-size: 15px;
        line-height: 25px;
        text-transform: capitalize;
        font-weight: 500;
        transition: 0.3s ease-in;
        border-radius: 6px;
    }

    .quotation {
        background-color: rgb(110, 110, 110);
    }

    .welcome-left {
        max-width: 900px;
        margin: 0 auto;
    }

    .welcome-left h3 {
        font-size: 40px;
        line-height: 50px;
        font-weight: 600;
        color: #fff;
    }

    .transparent-btn {
        background: rgba(255, 255, 255, 0.16);
    }

    .btn-style {
        padding: 12px 30px 10px;
        color: #fff;
        font-size: 15px;
        line-height: 25px;
        text-transform: capitalize;
        font-weight: 500;
        transition: 0.3s ease-in;
        border-radius: 6px;
    }

    .w3l-logos .logo-view img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        transition: 0.3s ease;
    }

    .w3l-footer-29-main {
        background: #222;
    }

    ..w3l-footer-29-main h6.footer-title-29 {
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        text-transform: capitalize;
        margin-bottom: 45px;
        font-weight: 600;
        position: relative;
    }

    .w3l-footer-29-main h6.footer-title-29 {
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        text-transform: capitalize;
        margin-bottom: 45px;
        font-weight: 600;
        position: relative;
    }

    .w3l-footer-29-main h6.footer-title-29:after {
        position: absolute;
        content: '';
        background: #eee;
        width: 40px;
        height: 2px;
        left: 0;
        bottom: -10px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }

    .w3l-footer-29-main .footer-list-29 ul li a,
    .w3l-footer-29-main .footer-list-29 ul li p {
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        color: #ababab;
    }

    .w3l-footer-29-main .footer-list-29 ul li,
    .w3l-footer-29-main .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
        list-style: none;
        margin-bottom: 14px;
    }

    #movetop {
        display: none;
        position: fixed;
        bottom: 100px;
        right: 15px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        width: 36px;
        height: 36px;
        background: #f57b51;
        padding: 0;
        line-height: 36px;
        border-radius: 4px;
        transition: 0.3s ease-out;
    }
</style>