<div class="conatiner">
    <div class="formArea  ">
        <div class="center">
            <div class="AddRoomIconDiv">
                <img class="addroomIcon" src="/images/addroom.png" alt="">
            </div>
            <div class="FOrm">
                <form action="/vendor/addroom" method="post" enctype="multipart/form-data">
                    <div class="InsideForm">
                        <div class="container">
                            <div class="row">
                                <div class="FormTextContent col-12 col-md-12 col-lg-6 ">
                                    <input type="email" name="email" value="{{user.email}}" hidden>
                                    <input type="text" name="name" id="name" placeholder="Name of Building" required>
                                    <br>
                                    <input type="number" name="contact" id="contact" placeholder="Contact No"
                                        required><br>
                                    <input type="text" name="State" placeholder="State" required><br>
                                    <input type="text" name="District" placeholder="District" required><br>
                                    <input type="text" name="Address" placeholder="Address" required><br>
                                    <input type="text" name="Place" placeholder="Place" required><br>
                                    <input type="text" name="City" placeholder="City" required><br>
                                    <input type="number" name="ZipCode" placeholder="Zip Code" required><br><br>
                                    <input type="text" name="Landmark" placeholder="Landmark" required><br>
                                    <div class="form-group description">
                                        <label for="">Description</label>
                                        <textarea type="text" class="form-control item" placeholder="Description"
                                            name="description" required id="" cols="30" rows="10"></textarea>
                                    </div>
                                    <input type="text" name="Verification" value="false" hidden>
                                </div>

                                <div class="FormImages col-12 col-md-12 col-lg-6 ">
                                    <input type="number" name="RealPrice" id="RealPrice" placeholder="Real Price"
                                        required><br>
                                    <input type="number" name="OfferPrice" id="OfferPrice" placeholder="Offer Price"
                                        required><br>
                                    <input type="number" name="roomCount" id="RoomCount" placeholder="No of Rooms"
                                        required><br>
                                    <select class="item" name="TyprOfRoom" id="TypeOfRoom"
                                        aria-placeholder="Type of Room" required>
                                        <option value="" disabled selected>Type of Room</option>
                                        <option value="Standard Room">Standard Room</option>
                                        <option value="Minimalist">Minimalist</option>
                                        <option value="Deluxe">Deluxe</option>
                                        <option value="Studio">Studio</option>
                                        <option value="Connecting">Connecting</option>
                                        <option value="Standard Suite">Standard Suite</option>
                                        <option value="Junior Suite">Junior Suite</option>
                                        <option value="Presidential Suite">Presidential Suite</option>
                                        <option value="Penthouse Suite">Penthouse Suite</option>
                                        <option value="Honeymoon Suite">Honeymoon Suite</option>
                                        <option value="Bridal Suite">Bridal Suite</option>
                                    </select><br><br>
                                    <div class="services">
                                        <div class="amenities">
                                            <label for="">Amenities</label><br>
                                            <div class="Checkbox">
                                                <input type="checkbox" name="Wifi" id="Wifi"> <label for="Wifi"> Free
                                                    Wifi </label><br>
                                                <input type="checkbox" name="ServiceTime" id="service"><label
                                                    for="service">Service 24/7</label><br>
                                                <input type="checkbox" name="FoodService" id="FoodService"><label
                                                    for="FoodService">Food Service</label><br>
                                                <input type="checkbox" name="Pool" id="Pool"><label
                                                    for="Pool">Pool</label><br>
                                                <input type="checkbox" name="AC" id="AC"><label for="AC"> AC
                                                </label><br>
                                                <input type="checkbox" name="TV" id="TV"> <label for="TV"> TV </label>
                                                <br>
                                            </div>

                                        </div>
                                    </div>
                                    <label class="imgUploadlabel" for="">Upload Image Of the Room</label>
                                    <br>
                                    <div class="imagesection">
                                        <input type="file" name="img1" id="fileInput1" required>
                                        <div id="preview1" class="preview"></div>
                                        <br>
                                    </div>
                                    <div class="imagesection">
                                        <input type="file" name="img2" id="fileInput2" required>
                                        <div id="preview2" class="preview"></div>
                                        <br>
                                    </div>
                                    <div class="imagesection">
                                        <input type="file" name="img3" id="fileInput3" required>
                                        <div id="preview3" class="preview"></div>
                                        <br>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">

                        <div class="HotelPoliciesDiv">
                            <label for="">Hotel Polices</label>
                            <textarea name="HotelPolices" class="form-control item" id="" cols="30" rows="10"
                                placeholder="Hotel Polices"></textarea>
                        </div>
                        <div class="bottuhn">
                            <button class="btn btn-primary addroomBtn" type="submit">Add Room</button>
                        </div>


                    </div>
                </form>
            </div>
            {{!-- <img class="addroomIcon" src="/images/addroom.png" alt="">
            <div class="Form">
                <form action="/vendor/addroom" method="post" enctype="multipart/form-data">
                    <div class="InsideForm">
                        <div class="FormTextContent col-12 col-md-12 ">
                            <input type="email" name="email" value="{{user.email}}" hidden>
                            <input type="text" name="name" id="name" placeholder="Name of Building" required>
                            <br>
                            <input type="number" name="contact" id="contact" placeholder="Contact No" required><br>


                            <input type="text" name="State" placeholder="State" required><br>
                            <input type="text" name="District" placeholder="District" required><br>
                            <input type="text" name="Address" placeholder="Address" required><br>
                            <input type="text" name="Place" placeholder="Place" required><br>
                            <input type="text" name="City" placeholder="City" required><br>
                            <input type="number" name="ZipCode" placeholder="Zip Code" required><br><br>
                            <input type="text" name="Landmark" placeholder="Landmark" required><br>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea type="text" class="form-control item" placeholder="description"
                                    name="description" required id="" cols="30" rows="10"></textarea>
                            </div>
                            <input type="text" name="Verification" value="false" hidden>

                        </div>
                        <div class="FormImages">
                            <input type="number" name="RealPrice" id="RealPrice" placeholder="Real Price" required><br>
                            <input type="number" name="OfferPrice" id="OfferPrice" placeholder="Offer Price"
                                required><br>
                            <input type="number" name="roomCount" id="RoomCount" placeholder="No of Rooms" required><br>
                            <select name="TyprOfRoom" id="TypeOfRoom" aria-placeholder="Type of Room" required>
                                <option value="" disabled selected>Type of Room</option>
                                <option value="Standard Room">Standard Room</option>
                                <option value="Minimalist">Minimalist</option>
                                <option value="Deluxe">Deluxe</option>
                                <option value="Studio">Studio</option>
                                <option value="Connecting">Connecting</option>
                                <option value="Standard Suite">Standard Suite</option>
                                <option value="Junior Suite">Junior Suite</option>
                                <option value="Presidential Suite">Presidential Suite</option>
                                <option value="Penthouse Suite">Penthouse Suite</option>
                                <option value="Honeymoon Suite">Honeymoon Suite</option>
                                <option value="Bridal Suite">Bridal Suite</option>
                            </select><br><br>
                            <div class="services">
                                <div class="amenities">
                                    <label for="">Amenities</label><br>
                                    <input type="checkbox" name="Wifi" id="Wifi">Free Wifi <br>
                                    <input type="checkbox" name="ServiceTime" id="service">Service 24/7<br>
                                    <input type="checkbox" name="FoodService" id="service">Food Service<br>
                                    <input type="checkbox" name="Pool" id="Pool">Pool<br>
                                    <input type="checkbox" name="AC" id="AC"> AC <br>
                                    <input type="checkbox" name="TV" id="TV"> TV <br><br>
                                </div>
                            </div>
                            <label class="imgUploadlabel" for="">Upload Image Of the Room</label>
                            <br>
                            <input type="file" name="img1" required>
                            <br>
                            <input type="file" name="img2" required>
                            <br>
                            <input type="file" name="img3" required>
                        </div>
                    </div>
                    <div class="HotelPoliciesDiv">
                        <label for="">Hotel Polices</label>
                        <textarea name="HotelPolices" class="form-control item" id="" cols="30" rows="10"
                            placeholder="Hotel Polices"></textarea>
                    </div>
                    <button class="btn btn-primary addroomBtn" type="submit">Add Room</button>
                </form>
            </div> --}}

        </div>
    </div>
</div>

<style>
    .formArea {
        margin-bottom: 10rem;
        height: 100%;
        float: left;
        width: 100%;
        padding-left: 230px;
    }

    .center {
        width: 100%;
        margin: 6rem 0;
        display: block;
        width: 100%;
    }

    .AddRoomIconDiv {
        margin-top: 8rem;
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;

    }

    .addroomIcon {
        height: 100px;
    }

    .FOrm {
        width: 100%;
    }

    .InsideForm {
        width: 100%;
        /*display: flex;
        flex-direction: row;*/
        justify-content: space-around;
    }

    .FormTextContent {
        float: left;
    }

    input[type="text"],
    input[type="number"],
    input[ type="eamil"],
    input[type="file"],
    .item {
        border-radius: 25px;
        padding: 1rem 1rem 1rem 1rem;
        margin: 1rem 0rem;
        width: 100%;
        color: black;
        font-size: 20px;
        font-weight: 400;
    }

    label {
        font-size: 30px;
        font-weight: 500;
        margin-left: .5rem;
    }

    .Checkbox label {
        font-size: 20px;
        font-weight: 500;
    }

    .description {
        margin: 2rem 0;
    }

    .imagesection {
        display: flex;
        border: 2px solid gray;
        margin: 1rem 0;
    }

    .services {
        padding: 2rem 0;
    }

    .amenities {
        padding-left: 4rem;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
    }

    .amenities input[type="checkbox"] {
        transform: scale(3);
        margin: 2rem 0;
        margin-right: 1rem;
    }

    .preview {
        border: 2px solid gray;
        margin: 0rem;
    }

    .preview img {
        margin: .5rem;
        height: 6rem;

    }

    .bottuhn {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }


    .addroomBtn {
        width: 80%;
        font-size: 25px;
        font-weight: 600;
        background-color: blueviolet;
        color: beige;
        border-radius: 25px;
        text-align: center;
    }

    .addroomBtn:hover {
        background-color: rgb(108, 3, 207);
    }






    /* .center {
        margin: auto;
        text-align: center;
        margin-top: 8rem;
        display: block;
    }

    .Form {
        margin: 2rem auto;
        width: 300px;

    }

    .InsideForm {
        width: 100%;
        display: flex;
    }

    .FormTextContent {}

    .FormImages {
        display: block;
    }





    .addroomIcon {
        height: 8rem;
    }

    .services {}

    .amenities {
        padding-left: 4rem;
        text-align: left;
        font-size: 20px;
    }

    input[type=number] {
        width: 20rem;
        margin: 1rem 0;
        border-radius: 15px;
        padding: .5rem;
        border-color: blueviolet;
    }

    select {
        width: 20rem;
        margin: 1rem 0;
        border-radius: 15px;
        padding: .5rem;
        border-color: blueviolet;
    }

    .amenities label {
        font-size: 20px;
    }

    input[type=checkbox] {
        border-color: blueviolet;
        margin-right: .5rem;
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }

    input[type=text] {
        width: 20rem;
        margin: 1rem 0;
        border-radius: 15px;
        padding: .5rem;
        border-color: blueviolet;
    }

    input[type=file] {
        width: 20rem;
        margin: 1rem 0;
        border-radius: 15px;
        padding: .5rem;
        border: 2px solid;
        border-color: blueviolet;
    }

    textarea[type=text] {
        width: 20rem;
        margin: 1rem 0;
        border-radius: 15px;
        padding: .5rem;
        border: 2px solid;
        border-color: blueviolet;
    }

    .imgUploadlabel {
        font-size: 20px;
        font-weight: 500;
    }

    .addroomBtn {
        margin: 3rem 0;
    }*/




    @media screen and (max-width:1105px) {
        .formArea {
            float: none;
            width: 100%;
            padding-left: 0;
        }

        .FormImages,
        .FormTextContent {
            width: 100%;
        }
    }
</style>

<script>
    const fileInput1 = document.getElementById("fileInput1");
    const preview1 = document.getElementById("preview1");

    const fileInput2 = document.getElementById("fileInput2");
    const preview2 = document.getElementById("preview2");

    const fileInput3 = document.getElementById("fileInput3");
    const preview3 = document.getElementById("preview3");

    fileInput1.addEventListener("change", function () {
        const file = this.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            preview1.innerHTML = `<img src="${reader.result}" alt="Preview">`;
        });

        reader.readAsDataURL(file);
    });

    fileInput2.addEventListener("change", function () {
        const file = this.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            preview2.innerHTML = `<img src="${reader.result}" alt="Preview">`;
        });

        reader.readAsDataURL(file);
    });


    fileInput3.addEventListener("change", function () {
        const file = this.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            preview3.innerHTML = `<img src="${reader.result}" alt="Preview">`;
        });

        reader.readAsDataURL(file);
    });


</script>