<div class="formArea  ">
    <div class="Waitiing">
        <p class="TExtWaiting">This page is under construction</p>
        <div class="loader">

        </div>
    </div>
    {{!-- <center>
        Bookings
    </center>
    <div class="parent">
        <div class="viewBookings col-xs-10 col-sm-10 col-md-9">
            <div class="row">
                <div class="RoomImageDiv col-xs-10 col-md-3">
                    <img class="roomImg" src="/room-images/632ac6170cd5f2d92b87f45a2.jpg" alt="roomImg">
                </div>
                <div class="roomDetails">
                    <div class="roomName">
                        <h3>Tower Hall</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="viewBookings col-xs-10 col-sm-10 col-md-9">
            <div class="row">
                <div class="RoomImageDiv">
                    <img class="roomImg" src="/room-images/632ac6170cd5f2d92b87f45a2.jpg" alt="roomImg">
                </div>
            </div>
        </div>
        <div class="viewBookings col-xs-10 col-sm-10 col-md-9">
            <div class="row">
                <div class="RoomImageDiv">
                    <img class="roomImg" src="/room-images/632ac6170cd5f2d92b87f45a2.jpg" alt="roomImg">
                </div>
            </div>
        </div>
    </div> --}}


    {{!-- View Bookings of hotel rooms in table --}}
    {{!-- <div class="table">
        <table>
            <thead>
                <tr>
                    <th>sl.No</th>
                    <th>Hotel</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>hdf</td>
                    <td>fdgdfg</td>
                    <td>dfgfd</td>
                    <td><img src="/room-images/632ac6170cd5f2d92b87f45a1.jpg" alt=""></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>hdf</td>
                    <td>fdgdfg</td>
                    <td>dfgfd</td>
                    <td>dfgdfgdfgd</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>hdf</td>
                    <td>fdgdfg</td>
                    <td>dfgfd</td>
                    <td>dfgdfgdfgd</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>hdf</td>
                    <td>fdgdfg</td>
                    <td>dfgfd</td>
                    <td>dfgdfgdfgd</td>
                </tr>
            </tbody>
        </table>
    </div> --}}
</div>

<style>
    .formArea {
        height: 100vh;
        float: left;
        width: 100%;
        padding-left: 221px;
        background-color: rgb(233, 248, 248);
    }

    center {
        margin: 0;
        padding: 1rem;
    }

    .parent {
        display: grid;
        background-color: red;
        width: 100%;
    }

    .viewBookings {
        background-color: orange;
        margin: auto;
    }

    .row {
        width: 100%;
    }

    .roomImg {
        width: 150px;
    }

    /*
    {{!-- View Bookings of hotel rooms in table --}}
    td, th {
        text-align: center;
    }
    td > img {
        width: 100px;
    }*/

    @media screen and (max-width:1105px) {
        .formArea {
            float: none;
            width: 100%;
            padding-left: 0;
        }

        .parent {
            margin-top: 3rem;
        }
    }

    .formArea {
        margin: 0;
    }


    .Waitiing {
        width: 100%;
        height: 100%;
        background-color: var(--gray-dark);
        color: whitesmoke;
        margin: 0;
        padding: 10rem 0 ;
        text-align: center;
    }

    .TExtWaiting {
        font-size: 30px;
        font-weight: 800;
        padding-top: 5rem;
    }

    .loader {
        width: 175px;
        height: 80px;
        display: block;
        margin: auto;
        background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
        background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
        background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
        background-repeat: no-repeat;
        position: relative;
        box-sizing: border-box;
    }

    .loader::before {
        content: '';
        left: 60px;
        bottom: 18px;
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #FF3D00;
        background-image: radial-gradient(circle 8px at 18px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, #FFF 100%, transparent 0);
        background-repeat: no-repeat;
        box-sizing: border-box;
        animation: rotationBack 3s linear infinite;
    }

    .loader::after {
        content: '';
        left: 94px;
        bottom: 15px;
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #FF3D00;
        background-image: radial-gradient(circle 5px at 12px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, #FFF 100%, transparent 0);
        background-repeat: no-repeat;
        box-sizing: border-box;
        animation: rotationBack 4s linear infinite reverse;
    }

    @keyframes rotationBack {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }
</style>